body {
  visibility: visible !important;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex-grow: 1;
  }

  header {
    background: $dark;
  }

  footer {
    padding: 0.2em 0;
    border-top: 1px solid $border-color;
  }
}
