{
  "env": {
    "jest": true,
    "browser": true
  },
  "root": true,
  "ignorePatterns": ["*.js", "*.d.ts"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier",
    "plugin:storybook/recommended"
  ],
  "rules": {
    "no-prototype-builtins": "off",
    "no-console": "warn",
    "import/extensions": [
      "warn",
      "never",
      {
        "json": "always",
        "glsl": "always"
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ]
  }
}
