node_modules
*.tgz
*.log
*.swp
.cache
.parcel-cache
.kotatsu
.DS_Store
.idea
.vscode
build
dist
/core/
/rendering/
/utils/
/index.js
/index.d.ts
/index-bundle.js
/index-bundle.d.ts
/settings.js
/settings.d.ts
/sigma.js
/sigma.d.ts
/types.js
/types.d.ts
/test/e2e/screenshots/*.current.png
/test/e2e/screenshots/*.diff.png
/website/demo
/website/docs
/website/examples
/www
