node_modules
*.tgz
*.log
*.swp
.cache
.parcel-cache
.kotatsu
.DS_Store
.idea
.vscode
build
dist
/www
packages/sigma/test/e2e/reports
packages/sigma/test/e2e/screenshots/*.current.png
packages/sigma/test/e2e/screenshots/*.diff.png
packages/storybook/storybook-static

# Built sources:
packages/sigma/README.md
