node_modules
*.tgz
*.log
*.swp
.DS_Store
.idea
.vscode
package-lock.json
.gitignore
.github
.npmignore
examples
external-types
index-bundle.js
index-bundle.d.ts
src
test
demo
website
webpack.config.js
webpack.programs.config.js
