@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");

/**
 * VARIABLES:
 * **********
 */
:root {
  --ruby: #e22653;
  --grey: #999;
  --dark-grey: #666;
  --light-grey: #ccc;
  --cream: #f9f7ed;
  --transition: all ease-out 300ms;
  --shadow: 0 1px 5px var(--dark-grey);
  --hover-opacity: 0.7;
  --stage-padding: 8px;
  --panels-width: 350px;
}

/**
 * BASE STYLES:
 * ************
 */
body {
  font-family: Lato, sans-serif;
}
h2 {
  font-size: 1.3em;
  margin: 0;
}
h2 > * {
  vertical-align: text-top;
}

/**
 * LAYOUT:
 * *******
 */
body {
  margin: 0;
  padding: 0;
}
#root {
  width: 100vw;
  height: 100vh;
  position: relative;
}
#app-root,
.sigma-container {
  position: absolute;
  inset: 0;
}
.controls {
  position: absolute;
  bottom: var(--stage-padding);
  left: var(--stage-padding);
}
h1 {
  z-index: 1;
  position: absolute;
  top: var(--stage-padding);
  left: var(--stage-padding);
  margin: 0;
  background: #ffffffcc;
  padding: 0.2em;
  font-size: 1.8em;
  max-width: calc(100vw - var(--panels-width) - 2 * var(--stage-padding) - 1em);
}
.panels {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
  max-height: calc(100vh - 0.5em);
  overflow-y: auto;
  padding: var(--stage-padding);
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border: transparent;
}

/**
 * USEFUL CLASSES:
 * ***************
 */
button.ico {
  display: flex;
  font-size: 1.5em;
  width: 2em;
  height: 2em;
  border-radius: 3px;
  box-shadow: var(--shadow);
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  background: white;
  border: none;
  outline: none;
  margin-top: 0.2em;
  cursor: pointer;
}
button.ico:hover {
  color: var(--dark-grey);
}

ul {
  list-style: none;
  padding: 0;
}
ul > li {
  margin-top: 0.2em;
}
.text-muted {
  color: var(--dark-grey);
}

/**
 * CAPTIONS PANELS:
 * ****************
 */
.panel {
  background: white;
  padding: 1em;
  border-radius: 3px;
  box-shadow: var(--shadow);
}
.panel:not(:last-child) {
  margin-bottom: 0.5em;
}
.panel h2 button {
  float: right;
  background: white;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 1.2em;
  height: 1em;
  width: 1em;
  text-align: center;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel h2 button:hover {
  opacity: var(--hover-opacity);
}

.caption-row input[type="checkbox"] {
  display: none;
}
.caption-row input[type="checkbox"]:not(:checked) + label {
  color: var(--dark-grey);
}
.caption-row input[type="checkbox"]:not(:checked) + label .circle {
  background-color: white !important;
}
.caption-row label {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.caption-row label:hover {
  opacity: var(--hover-opacity);
}
.caption-row label .circle {
  flex-shrink: 0;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 1.2em;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: var(--dark-grey);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0.2em;
  transition: var(--transition);
  border: 3px solid var(--dark-grey);
}
.caption-row label .node-label {
  flex-grow: 1;
}
.caption-row label .bar {
  position: relative;
  background: var(--light-grey);
  height: 3px;
  margin-bottom: 0.2em;
}
.caption-row label .bar .inside-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--dark-grey);
  transition: var(--transition);
}
