name: Tests

on: [push, pull_request]

jobs:
  tests:
    strategy:
      matrix:
        node-version:
          - 10.x
          - 11.x
          - 12.x
          - 13.x
          - 14.x
          - 15.x
          - 16.x

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install, Lint & Test
        run: |
          npm i
          npm test
          npm run e2e:test
